<ul>
	<li> <%= link_to "Sign up",  new_user_path %> </li>
	<li> <%= link_to "My speeches",  url_for(controller: 'users', action: 'myuser') %> </li>
	<li> <%= link_to "All speeches",  speeches_path %> </li>
	<li> <%= link_to "Sandbox", "/"  %></li>
	<li> <%= link_to "API" , "/api" %> </li>
</ul>
<hr>

